*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfonts;
    src: url(.//assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    /* border: 2px solid rgb(25, 158, 10); */
     /* height: 450px; */
     
    padding: 20px;
    min-width: 50%;
    display: flex;
    background-color: rgb(28, 28, 28);
    justify-content: center;
    border-radius: 8px;
    margin: 0 30px;

}
.sub-container{
    /* border: 2px solid red; */
       /* height: 420px; */
       margin-top: 12px;
       width: 100%;
       
}
.img_box{
    display: flex;
    justify-content: center;
}
.img_box img{
    display: flex;
   justify-content: center;
    border-radius: 1000px;
    height: 90px;
    margin-top: 10px;
 
   
}
h2{
    font-family: myfonts;
    display: flex;
    color: white;
    justify-content: center;
}
h3{
    font-family: myfonts;
    display: flex;
    margin-top: 9px;
    justify-content: center;
    font-size: 15px;
    color: rgb(74, 222, 61);
}
p{
    font-family: myfonts;
    display: flex;
    font-size: 13px;
    justify-content: center;
     margin-top: 9px;
     color: white;
}
.para{
    border: 2px solid black;
    border: none;
    padding: 9px;
    border-radius: 8px;
    color: white;
    background-color: #919090;
}
@media (width < 340px) {
    .container{
        margin: 0 10px;
    }
}